<h2>Search for process instances</h2>
<%= bootstrap_form_tag url: process_instances_path, role: 'search', method: :get do |f| %>
    <div class="row">
      <div class="col-sm-3">
        <%= f.text_field :process_instance_id, value: params[:process_instance_id] %>
        <%= f.text_field :business_key, value: params[:business_key] %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :process_definition_id, value: params[:process_definition_id] %>
        <%= f.text_field :process_definition_key, value: params[:process_definition_key] %>
      </div>
    </div>
    <div align="center"><%= f.primary 'Search' %></div>
<% end %>
<br />
<%= history_processes_table_tag @process_instances %>
<div align="center"><%= will_paginate @process_instances, renderer: BootstrapPagination::Rails %></div>