<%= render 'process_instances/show/top_row' %>
<div class="panel-group" id="accordion">
  <%= render 'process_instances/show/variables' %>
  <%= render 'process_instances/show/jobs' %>
  <%= render 'process_instances/show/tasks' %>
  <%= render 'process_instances/show/subprocesses' %>
</div>