<% if @executions %>
    <div class="panel panel-default">
      <div class="panel-heading cursor-pointer collapsed" data-toggle="collapse"
           data-target="#collapse_executions" data-parent="#accordion">
        <span class="notification-header collapsed"><strong>Process Executions</strong>
          <%= elements_count(@executions) %></span>
      </div>
      <div id="collapse_executions" class="accordion-body collapse">
        <div class="panel-body accordion-inner">
          <% if @executions.any? %>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Id</th>
                    <td>Parent Id</td>
                    <th>Activity Id</th>
                  </tr>
                </thead>
                <tbody>
                <% @executions.each do |execution| %>
                    <tr>
                      <td><%= execution.id %></td>
                      <td><%= execution.parentId.to_s %></td>
                      <td><%= execution.activityId.to_s %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% else %>
              <%= no_elements 'Executions' %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>